<form method="POST" action="/users">
  <label for="email">Enter Email</label>
  <input type="email" name="email" id="email" /><br/>
  <label for="password">Enter Password</label>
  <input type="password" name="password" id="password"/><br/>
  <label for="password">Re-enter Password</label>
  <input type="password" name="password_confirmation" id="password_confirmation"/>
  <input type="submit" value="Sign Up" />
</form>
